@import url("http://about.modeanalytics.com/stylesheets/style.css");



/* Override text link color */

body a:link, body a:visited {
  color: #E4753A;
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 79%, #E6EFF1 80%, #E6EFF1 100%);
}

body a:hover {
  background: none;
}

/* CLEANED UP MENU AND HEADER */

#header-small, #header {
  border-bottom: 1px solid #DDD;
}

.blog-header-link {
  float:left;
  line-height:16px;
  font-size: 14px;
  letter-spacing: 0.0625em;
  color: #396D6C !important;
  font-weight:600;
  text-transform:uppercase;
  padding: 0 1.5em;

}

#header-small .blog-header-link {
  margin: 23px 0px;
  background: none;
}

#header .blog-header-link {
  margin: 39px 0px;
  background: none;
}

a.no-underline {
  background: none !important;
}

/* CONTENT AREA */

.columns-container {
  max-width: 800px;
  margin: 50px auto 0px auto;
}

#blog-content, #archive-content {
  margin-bottom: .5em;
  text-align: left;
  float:left;
  padding: 30px 20px;
}

.post-header {
  margin-bottom: 25px;
}

.title {
  font-size: 30px;
  letter-spacing: 0px;
  color: #4a4a4a;
	font-family: 'ProximaNova', sans-serif;
	font-weight: 300;
  font-style: light;
  margin-bottom: 13px;
	margin-left: 19px;
}

.post-body {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
	font-family: 'ProximaNova', sans-serif;
	font-weight: 500;
  font-style: normal;
  color: #4a4a4a;
	padding: 0px 19px;
}

.post-body p {
  margin-bottom: 20px;
}

.post-body h3 {
  font-size: 22px;
  margin-top:40px;
}

.post-body img {
  max-width: 100%;
  margin: 35px auto;
  display:block;
}

.post-body li {
  list-style: disc;
  margin-left: 40px;
  padding-right: 40px;
}

.post-footer {
  text-align: left;
  border-top: 1px solid #DDD;
  margin-top: 20px;
  padding-top: 20px;
}

/* Social Button Spacing */
div.fb-like {
  width:77px; 
  vertical-align:top !important;
}
iframe.twitter-share-button{ margin-right:-23px; }
iframe.hn-share-iframe { margin-bottom:-1px; }


/* FOOTER */
.footer-push {
  height: 88px;
}

#sqlschool-footer {
  background-color: #396D6C;
  width:100%;
  text-align: left;
	height: 44px;
  padding: 22px 0;
  position: relative;
  z-index: 10;
}

#footer-container {
	width: 100%px;
	max-width: 650px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
  margin: 10px auto 0px auto;
}

.social-links {
  margin-top: 5px;
}

.social-links a.social-icon {
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 5px;
  color: #87BFC2;
  border-bottom: none;
  background: none;
}

.social-links a.social-icon:hover {
  background: transparent;
  color: #E6EFF1;
  border-bottom: none;
  text-decoration: none;
  cursor: pointer;
  border-bottom: none;
  background: none;
}

/* SQL SCHOOL */

html, body {
  height: 100%;
}

.sqlschool-content {
  text-align: left;
  padding: 30px 0px;
}

#header {
  position: relative;
}

#container {
  background-color: transparent !important;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -88px; /* the bottom margin is the negative value of the footer's height */
}

.breadcrumbs {
  margin-bottom: 30px;
	margin-left: 19px;
}

.category {
  text-transform: capitalize;
}

pre, code {
  color:black;
  background-color:#E5ECEC;
  border: 1px solid #C7CCCB;
  border-radius: 3px;
  font-size: 15px;
  line-height: 18px;
}

pre code {
  background-color: transparent;
  border:none;
  color: black;
}

pre {
  padding:10px;
  margin: 20px 0px;
  overflow: auto;
}
code {
  padding: 2px;
}

div.practice-prob, div.practice-prob-answer {
  background-color: #FFF;
  border: 1px solid #C7CCCB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  margin: 0px 19px;
}

div.practice-prob {
  border-radius: 3px 3px 0 0;
  padding: 15px;
  margin-top: 20px;
}

div.practice-prob-answer {
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 7px 15px 10px 15px;
  margin-bottom: 20px;
  text-align:right;
}

table {
  background-color: #FFF;
  border: 1px solid #C7CCCB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  margin: 30px auto;
  max-width: 600px;
}

td, th {
  padding: 7px;
  border: 1px solid #C7CCCB;
  border-left: none;
  border-right: none;
}

td.right, th.right {
  text-align:right;
}

#footer-container {
  color: #F1F1F1;
}

.social-links {
  float: left;
}
.mode-copyright {
  color: #87BFC2;
  margin-top: 5px;
  float:right;
}

ul, ol {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.table-of-contents, nav ul {
  margin-top: 0px;
}

/* RESPONSIVE STUFF FOR NON-MOBILE */
@media screen and (min-width: 481px ) {
	.breadcrumbs, .title {
		margin-left: 40px;
	}
	.post-body {
		padding: 0px 40px;
	}
	div.practice-prob, div.practice-prob-answer {
	  margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (min-width: 800px ) {
  .post-body p,.post-body h1,.post-body h2,.post-body h3,
  .post-body h4,.post-body h5,.post-body ul, .post-body ol,
  .post-header, .post-social, .breadcrumbs, .highlight {
    padding:0px 75px;
  }
  
  .post-body li p {
    padding-left: 0px;
    padding-right: 0px;
  }
  
	div.practice-prob, div.practice-prob-answer {
	  margin-left: 100px;
		margin-right: 100px;
	}
	
  #blog-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .post-body p iframe {
    margin: 20px -75px;
    width: 800px !important;
  }
}

@media screen and (min-width: 1025px ) {
  
  .columns-container {
    margin-top: 0px;
  }
}