<li>
  <input type="checkbox" checked>
  <i></i>
  <h4>Table 4: Rollup Periods</h4>
  <table>
    <tr>
      <th colspan="2">The final table is a lookup table that is used to create rolling time periods. Though you could use the INTERVAL() function, creating rolling time periods is often easiest with a table like this. You won't necessarily need to use this table in queries that you write, but the column descriptions are provided here so that you can understand the query that creates the chart shown above.
        <br />
        <br /><em>This table name in Mode is benn.dimension_rollup_periods</em>
        <!--<a href="https://modeanalytics.com/tutorial/tables/dimension_rollup_periods">View this table in Mode</a>-->
      </th>
    </tr>
    <tr>
      <td>period_id:</td>
      <td class="right">This identifies the type of rollup period. The above dashboard uses period 1007, which is rolling 7-day periods.</td>
    </tr>
    <tr>
      <td>time_id:</td>
      <td class="right">This is the identifier for any given data point &mdash; it's what you would put on a chart axis. If time_id is 2014-08-01, that means that is represents the rolling 7-day period leading up to 2014-08-01.</td>
    </tr>
    <tr>
      <td>pst_start:</td>
      <td class="right">The start time of the period in PST. For 2014-08-01, you'll notice that this is 2014-07-25 &mdash; one week prior. Use this to join events to the table.</td>
    </tr>
    <tr>
      <td>pst_end:</td>
      <td class="right">The start time of the period in PST. For 2014-08-01, the end time is 2014-08-01. You can see how this is used in conjunction with pst_start to join events to this table in the <a href="https://staging.modeanalytics.com/tutorial/reports/f7aeca4599b7/runs/5e08a9650c91/query">query that produces the above chart</a>.</td>
    </tr>
    <tr>
      <td>utc_start:</td>
      <td class="right">The same as pst_start, but in UTC time.</td>
    </tr>
    <tr>
      <td>pst_start:</td>
      <td class="right">The same as pst_end, but in UTC time.</td>
    </tr>
  </table>
</li>