<li>
  <input type="checkbox" checked>
  <i></i>
  <h4>Table 4: Normal Distribution</h4>
  <table>
    <tr>
      <th colspan="2">This table is purely a lookup table. You can join against it to see where values fall against a normal distribution.
        <!--<a href="https://modeanalytics.com/tutorial/tables/yammer_events">View this table in Mode</a>-->
      </th>
    </tr>
    <tr>
      <td>score:</td>
      <td class="right">SCORE</td>
    </tr>
    <tr>
      <td>value:</td>
      <td class="right">VALUE</td>
    </tr>
  </table>
</li>