<li>
  <input type="checkbox" checked>
  <i></i>
  <h4>Table 4: Normal Distribution</h4>
  <table>
    <tr>
      <th colspan="2">This table is purely a lookup table, similar to what you might find in the back of a statistics textbook. It is equivalent to using the leftmost column <a href="https://www.stat.tamu.edu/~lzhou/stat302/standardnormaltable.pdf">in this table</a>, though it omits negative Z-Scores.
        <!--<a href="https://modeanalytics.com/benn/tables/normal_distribution">View this table in Mode</a>-->
      </th>
    </tr>
    <tr>
      <td>score:</td>
      <td class="right">Z-score. Note that this table only contains values >= 0, so you will need to join the absolute value of the Z-score against it.</td>
    </tr>
    <tr>
      <td>value:</td>
      <td class="right">The area on a normal distribution below the Z-Score.</td>
    </tr>
  </table>
</li>