<li>
  <input type="checkbox" checked>
  <i></i>
  <h4>Table 1: Users</h4>
  <table>
    <tr>
      <th colspan="2">This table includes one row per user, with descriptive information about that user's account.
        <!--<a href="https://modeanalytics.com/tutorial/tables/yammer_users">View table in Mode</a>-->
      </th>
    </tr>
    <tr>
      <td>user_id:</td>
      <td class="right">A unique ID per user. Can be joined to user_id in either of the other tables.</td>
    </tr>
    <tr>
      <td>created_at:</td>
      <td class="right">The time the user was created (first signed up)</td>
    </tr>
    <tr>
      <td>state:</td>
      <td class="right">The state of the user (active or pending)</td>
    </tr>
    <tr><td>activated_at:</td>
      <td class="right">The time the user was activated, if they are active</td></tr>
    <tr>
      <td>company_id:</td><td class="right">The ID of the user's company</td></tr>
    <tr>
      <td>language:</td><td class="right">The chosen language of the user</td></tr>
  </table>
</li>