<li>
  <input type="checkbox" checked>
  <i></i>
  <h4>Table 2: Events</h4>
  <table>
    <tr>
      <th colspan="2">This table includes one row per event, where an event is an action that a user has taken on Yammer. These events include login events, messaging events, search events, events logged as users progress through a signup funnel, events around received emails.
        <br />
        <br /><em>This table name in Mode is tutorial.yammer_events</em>
        <!--<a href="https://modeanalytics.com/tutorial/tables/yammer_events">View this table in Mode</a>-->
      </th>
    </tr>
    <tr>
      <td>user_id:</td>
      <td class="right">The ID of the user logging the event. Can be joined to user\_id in either of the other tables.</td>
    </tr>
    <tr>
      <td>occurred_at:</td>
      <td class="right">The time the event occurred.</td>
    </tr>
    <tr>
      <td>event_type:</td>
      <td class="right">The general event type. There are two values in this dataset: "signup_flow", which refers to anything occuring during the process of a user's authentication, and "engagement", which refers to general product usage after the user has signed up for the first time.
      </td>
    </tr>
    <tr><td>event_name:</td>
      <td class="right">The specific action the user took. Possible values include:
        <p><strong>create_user:</strong> User is added to Yammer's database during signup process
        <p><strong>enter_email:</strong> User begins the signup process by entering her email address
        <p><strong>enter_info:</strong> User enters her name and personal information during signup process
        <p><strong>complete_signup:</strong> User completes the entire signup/authentication process
        <p><strong>home_page:</strong> User loads the home page
        <p><strong>like_message:</strong> User likes another user's message
        <p><strong>login:</strong> User logs into Yammer
        <p><strong>search_autocomplete:</strong> User selects a search result from the autocomplete list
        <p><strong>search_run:</strong> User runs a search query and is taken to the search results page
        <p><strong>search_click_result_X:</strong> User clicks search result X on the results page, where X is a number from 1 through 10.
        <p><strong>send_message:</strong> User posts a message
        <p><strong>view_inbox:</strong> User views messages in her inbox
      </td>
    </tr>
    <tr>
      <td>location:</td><td class="right">The country from which the event was logged (collected through IP address).</td></tr>
    <tr>
      <td>device:</td><td class="right">The type of device used to log the event.</td></tr>
  </table>
</li>