---
layout: sqlschool-master
title: "Interactive SQL Tutorial"
description: "Learn data analysis skills with this free, interactive SQL tutorial, written in plain English. Practice in real-time with online access to a live database."
---

<div class="columns-container">

  <div class="sqlschool-content">
    
    <div class="post-header">
      <h1 class="title">Case Studies</h1>
    </div>
    
    <div class="post-body">

      <p>Real-world problems to help sharpen your critical thinking skills. Intended for those with solid SQL knowledge, or who have already completed <a href="/">SQL School</a>.<p>

      <div style="clear: both;"></div>
      
       {% for case in site.case-list %}
         <h4 class="category" id="{{ case }}">
           {{ case | replace:'-', ' ' }}
         </h4>
         <ul class="table-of-contents">
           {% for post in site.posts %}
             {% if post.categories contains case and post.categories contains "cases" %}
               
               {% assign answer = false %}
               {% if post.categories contains "answers" %}
                 {% assign answer = true %}
               {% endif %}
                 
               {% if answer ==  false %}
                 <li class="list-question">
                   <a href="{{ post.url }}"> {{ post.title }}</a>
                 </li>
               {% endif %}
             {% endif %}
           {% endfor %}
         </ul>
       {% endfor %}

    </div>
  </div>
</div>