---
layout: sqlschool-master
title: "Interactive SQL Tutorial"
description: "Learn data analysis skills with this free, interactive SQL tutorial, written in plain English. Practice in real-time with online access to a live database."
---

<div class="columns-container">

  <div class="sqlschool-content">
    
    <div class="post-header">
      <h1 class="title">Welcome to SQL School</h1>
    </div>
    
    <div class="post-body">
      <p>A plain-English guide to SQL data analysis using real data and interactive examples.</p>
      <p style="float:right">Sort by: Lesson Order | <a href="index-by-syntax.html">SQL Commands</a></p>
      <div style="clear: both;"></div>

      {% for category in site.category-list %}
        <h4 class="category" id="{{ category }}">
          {{ category | replace:'-', ' ' }}
        </h4>
        <ul class="table-of-contents">
          {% for post in site.posts %}
              {% for cat in post.category %}
                {% if cat == category %}
                  <li class="list-question"><a href="{{ post.url }}"> {{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}

    </div>
  
  </div>
      
</div>
