<!-- from http://www.bootply.com/uBoT3zP1P2 -->
    
<div id="sidebar" class="sidebar-offcanvas">
  
    
    <div class="sidebar-header">
      <img src="/images/icons/sm_mode.svg">SQL School
    </div>
    
    <div class="list-group panel">
      
      <a href="/" class="list-group-item list-group-item-success heading">About</a>
      
<!-- SQL Lessons -->    
      {% for category in site.category-list %}
        <a href="#{{ category }}" class="list-group-item list-group-item-success heading" data-toggle="collapse" data-parent="#{{ category }}">
          {{ category | replace:'-', ' ' }}
        </a>
        {% if category == page.category %}
          <div class="collapse in" id="{{ category }}">
        {% else %}
          <div class="collapse" id="{{ category }}">
        {% endif %}
          {% for post in site.posts %}
              {% for cat in post.category %}
                {% if cat == category %}
                  {% if post.url == page.url %}
                    <p class="list-group-item current">{{ post.title }}</p>
                  {% else %}
                    <a href="{{ post.url }}" class="list-group-item"> {{ post.title }}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
          {% endfor %}
        </div>
      {% endfor %}
        
<!-- SQL Quiz-->
      <a href="/sql-quiz.html" class="list-group-item list-group-item-success heading">SQL Quiz</a>
      
<!-- Cases-->      
      <a href="#cases" class="list-group-item list-group-item-success heading" data-toggle="collapse" data-parent="#cases">
        Cases
      </a>
      <div class="collapse" id="cases">  
        {% for case in site.case-list %}
          <a href="#{{ case }}" class="list-group-item" data-toggle="collapse" data-parent="#{{ case }}">
            {{ case | replace:'-', ' ' }} <i class="fa fa-caret-down"></i>
          </a>
          <div class="collapse list-group-submenu" id="{{ case }}">
            {% for post in site.posts %}
              {% if post.categories contains case and post.categories contains "cases" %}
      
                {% assign answer = false %}
                {% if post.categories contains "answers" %}
                  {% assign answer = true %}
                {% endif %}
        
                {% if answer ==  false %}
                  <a href="{{ post.url }}" class="list-group-item" data-parent="#{{ case }}">
                    {{ post.title }}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      
    </div>
  
</div>