<!-- from http://www.bootply.com/uBoT3zP1P2 -->
    
<div id="sidebar" class="sidebar-offcanvas">
  
    
  <div class="sidebar-header">
    <img src="/images/icons/logo_large.png">SQL School
  </div>
  
  <div class="list-group panel">
    
    <a href="/" class="list-group-item list-group-item-success heading">Home</a>
    
<!-- SQL Lessons -->    
    {% for category in site.category-list %}
      <a href="#{{ category }}" class="list-group-item list-group-item-success heading" data-toggle="collapse" data-parent="#{{ category }}">
        {{ category | replace:'-', ' ' }}<i class="fa fa-chevron-down"></i>
      </a>
      {% if category == page.category %}
        <div class="collapse in" id="{{ category }}">
      {% else %}
        <div class="collapse" id="{{ category }}">
      {% endif %}
        {% for post in site.posts %}
            {% for cat in post.category %}
              {% if cat == category %}
                {% if post.url == page.url %}
                  <p class="list-group-item current">{{ post.title }}</p>
                {% else %}
                  <a href="{{ post.url }}" class="list-group-item"> {{ post.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
      
<!-- SQL Quiz 
    <a href="/quiz/quiz-intro.html" class="list-group-item list-group-item-success heading">SQL Quiz</a>
    -->
    
<!-- Analytics Training   -->   
    <a href="#analytics-training" class="list-group-item list-group-item-success heading" data-toggle="collapse" data-parent="#analytics-training">
      Analytics Training<i class="fa fa-chevron-down"></i>
    </a>
    
    {% if page.categories contains "analytics-training" %}
      <div class="collapse in" id="analytics-training">
    {% else %}
      <div class="collapse" id="analytics-training">
    {% endif %}
      
      {% if page.url == '/analytics-training/about-analytics-training.html' %}
        <p class="list-group-item current">About This Section</p>
      {% else %}
        <a href="/analytics-training/about-analytics-training.html" class="list-group-item">About This Section</a>
      {% endif %}
    
      {% for case in site.case-list %}
        <a href="#{{ case }}" class="list-group-item case-name" data-toggle="collapse" data-parent="#{{ case }}">
          {{ case | replace:'-', ' ' }} <i class="fa fa-chevron-down"></i>
        </a>
        {% if page.categories contains case %}
          <div class="collapse in list-group-submenu" id="{{ case }}">
        {% else %}
          <div class="collapse list-group-submenu" id="{{ case }}">
        {% endif %}
          {% for post in site.posts %}
            {% if post.categories contains case and post.categories contains "analytics-training" %}
    
              {% assign answer = false %}
              {% if post.categories contains "answers" %}
                {% assign answer = true %}
              {% endif %}
      
              {% if answer ==  false %}
                {% if post.url == page.url %}
                  <p class="list-group-item current">{{ post.title }}</p>
                {% else %}
                  <a href="{{ post.url }}" class="list-group-item" data-parent="#{{ case }}">
                    {{ post.title }}
                  </a>
                {% endif %}
                
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  
  </div>
    

<!-- Social links and Copyright 
  <div class="social-links">
    <a href="https://twitter.com/modeanalytics" class="social-icon" id="twitter" target="_blank">
      <i class="icon-twitter"></i></a>
    <a href = "https://www.facebook.com/ModeAnalytics" class="social-icon" id="facebook" target="_blank">
      <i class="icon-facebook"></i></a>
    <a href="http://www.linkedin.com/company/mode-analytics" class="social-icon" id="linkedin" target="_blank">
      <i class="icon-linkedin"></i></a>
    <a href="mailto:info@modeanalytics.com" class="social-icon" id="mail" target="_blank">
      <i class="icon-envelope"></i></a>
  </div>
  <div class = "mode-copyright">
    &copy; Mode Analytics 2014
  </div>
-->
  
</div>