---
layout: sqlschool-template
---

<section class="lesson">
  
  <div class="container">
  
    <div class="search-small col-sm-4 col-sm-push-8">
      
      <!-- HIDE SEARCH FOR NOW
      <form class="main-search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        -->
    </div>
    
    <div class="breadcrumbs col-sm-8 col-sm-pull-4">
      <a href="/#{{ page.category }}">&laquo; Back to Index</a>
    </div>
    
  </div>
</section>

<section class="question">
  <div class="container">
    <h2>{{ page.title }}</h2>
    
    {{ content }}
  
  </div>
</section>
