---
layout: sqlschool-template
---

<!-- LEFT NAV -->
    <div class="whatever">
      
      <div class="sidebar-header">
        <img src="/images/icons/logo_large.png">
      </div>
    
    </div>
      
<!-- MAIN CONTENT AREA -->      
    <div id="index-main">
      <div class="container">
        <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-3">
          {{ content }}    
        </div>
      </div>
      
      <div class="index-footer">
        <div class="container">
          <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-3">
            <div class="row">
            
            <!-- Social links and Copyright -->
              <div class="social-links">
                <a href="https://twitter.com/modeanalytics" class="social-icon" id="twitter" target="_blank">
                  <i class="fa fa-twitter"></i></a>
                <a href = "https://www.facebook.com/ModeAnalytics" class="social-icon" id="facebook" target="_blank">
                  <i class="fa fa-facebook"></i></a>
                <a href="http://www.linkedin.com/company/mode-analytics" class="social-icon" id="linkedin" target="_blank">
                  <i class="fa fa-linkedin"></i></a>
                <a href="mailto:info@modeanalytics.com" class="social-icon" id="mail" target="_blank">
                  <i class="fa fa-envelope"></i></a>
              </div>
              <div class = "mode-copyright">
                &copy; Mode Analytics 2014
              </div>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>