---
layout: sqlschool-master
---
{% for cat in page.categories %}
  {% if cat != "cases" %}
    {% assign case = cat %}
  {% endif %}
{% endfor %}

<div class="columns-container">

  <div class="sqlschool-content">
    <div class="breadcrumbs">
      <a href="/cases.html#{{ case }}">&laquo; Back to Case Studies</a>
    </div>
    
    <div class="post-header">
      <h1 class="title">{{ page.title }}<h1>
      <h4 class="title">{{ case }} case study<h4>
    </div>
    
    <div class="post-body">
      {{ content }}
      
      <div class="lesson-footer">
          <a href="/cases.html#{{ case }}">&laquo; Back to Case Studies</a>
      </div>
    </div>
  
   
  
  
  </div>
      
</div>
