<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.seo-title %}
        SQL - {{ page.seo-title }} | Interactive Tutorial - SQL School
      {% else %}
        {% if page.title %}{{ page.title }} - {% endif %}SQL School 
      {% endif %}
    </title>
    
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/sqlschool-new.css">
    <link rel="stylesheet" href="/css/sqlschool-index.css">
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
    
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Magnific Popup -->
    <script src="/script/magnific-popup.js"></script> 
    <link rel="stylesheet" href="/css/magnific-popup.css">
    
    <!-- Image Links -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/images/mode-favicon-black.ico" rel="shortcut icon" />

    <meta name="robots" content="index, follow" />
    <meta name="google-site-verification" content="IBG3eleFA9562xuyu46bQ-bnxEBla4yVjAQCfPsgPM0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    
    <!-- Meta -->
    {% if page.description %} <meta name="description" content="{{ page.description }}" />{% endif %}

  </head>
  <body>
    
    {{ content }}
    
    <!-- Segment EYE OH -->
    <script type="text/javascript"> window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
    window.analytics.load("dhfb493gnn");
    window.analytics.page();
    window.analytics.ready(function(){
      ga('create', 'UA-43615902-8', 'auto', {'name': 'secondTracker'});
      ga('secondTracker.send', 'pageview');
    });
    </script>
    
    <!-- Magnific Popup-->
    <script type="text/javascript">
    $('a.image-link').magnificPopup({
    		type: 'image',
    		closeBtnInside: false,
        closeOnContentClick: true,
  
        image: {
    			verticalFit: true,
    			titleSrc: function(item) {
    				return item.el.attr('title');
    			}
    		}
  
    	});
      </script>
  </body>
</html>